@font-face {
	font-family: 'Geo-NMS';
	src: url('../assets/geonms-font.eot');
	src: url('../assets/geonms-font.eot?#iefix') format('embedded-opentype'),
	url('../assets/geonms-font.svg#my-font-family') format('svg'),
	url('../assets/geonms-font.woff') format('woff'),
	url('../assets/geonms-font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
