@import "geonms-font";
@import "reset";

$rare: rgb(0,119,81);
$exotic: rgb(113,25,127);

html {font-size:16px;}
body {
	font-size:1em; color:white; font-family:Roboto, sans-serif; 
	max-width:60em; margin:0 auto;
	background-attachment:fixed;
	background-color:#222222;
	background-size:cover, 100%;
	background-position:center center, center center;
	background-repeat:no-repeat, no-repeat;
}
h1, h2, h3, h4 {font-family:Geo-NMS; text-transform:uppercase; letter-spacing:.2em;}
h1 {font-size:2.5em;}
h2 {font-size:2em;}
h3 {font-size:1.5em;}
h4 {font-size:0.9em;}
input {border:0 none; background:transparent; outline:0 none; font-size:1rem;}
input[type=checkbox] {visibility:hidden; position:absolute;}
select {background:none; border:0 none; border-bottom:2px solid white; color:white; font-size:1rem;
	&:focus {outline:none;}
	option {color:black;}
}

header, section {width:calc(100% - 6em); margin:1em 2em; padding:1em;}

header {
	display:grid;
	grid-template-columns:10em 1fr;
	grid-auto-rows:auto;
	img {width:10em; grid-row:span 2;}
	h1 {align-self:flex-end; margin-left:3rem;}
	p {align-self:flex-start; margin-left:3rem;}
}

h2#generated-tag {text-transform:none; background:transparent;
	&.sticky {position:fixed; top:0; left:0; background:#444444; width:calc(100vw - 2em); padding:1em; margin:0; transition:background 0.2s ease-in; z-index:1000;}
}

section {
	display:grid;
	grid-template-columns:repeat(6, 1fr);
	grid-auto-rows:auto;
	grid-gap:.5em;
	background:rgba(16,16,16,0.3);
	background:linear-gradient(180deg, rgba(16,16,16,0.95), rgba(16,16,16,0.8));
	h1, h2, h3, h4 {grid-column:span 6;}
	hr {height:2px; width:100%; grid-column:span 6; border:0 none; background:linear-gradient(90deg, white 0%, transparent 100%)}
	input[type=text] {font-size:1rem; border-bottom:2px solid white; padding:.5em; color:white;margin-right:1em; align-self:flex-start;}
	input[type=text]::placeholder {color:rgba(255,255,255,0.3)}
	label {text-align:right; align-self:flex-end; padding:.5em;}
	.group {position:relative; grid-column:span 2;
		label {display:block; padding:.5em; text-align:center; border:.5em solid white; opacity:.7; transition:all .3s ease;
			box-shadow:0 0.1em 0.1em 0.1em rgba(0,0,0,0.3);
			p {display:block; background:white; color:#222; width:calc(100% + .41rem); padding:.3rem; margin:-.8rem -.5rem; font-size:0.9rem;}
			figure {position:relative;
				img {width:100%; margin:1em 0 0 0;}
				figcaption {position:absolute; bottom:.1rem; left:.1rem; font-family:Geo-NMS; font-size:2em; font-weight:bold;}
			}
		}
		label:hover {opacity:0.8; box-shadow:0 0.2em 0.1em 0.1em rgba(0,0,0,0.3);}
		input:checked + label {opacity:1; font-weight:normal;
			box-shadow:0 0.3em 0.1em 0.1em rgba(0,0,0,0.3);
		}
		&.rare label {background-color:$rare;}
		&.exotic label {background-color:$exotic;}
	}

	&#primary {
		.group label {border:0 none; border-radius:2em; background-color:$exotic;
			font-size:1.3em; text-align:left; padding-left:2.7em; margin:0 auto;
		}
		input[type=checkbox] + label::before {content:""; width:6rem; height:6rem; position:absolute; left:-1rem; top:-1.7rem; visibility:visible; opacity:0.7; z-index:1; background-size:contain;}
		input[type=checkbox]:checked + label::before {opacity:1.0;}
		.group:hover input[type=checkbox] + label::before {opacity:1.0;}
		#wealthy + label::before {background-image:url("../assets/primary-econ.png");}
		#exotic + label::before {background-image:url("../assets/primary-exotic.png");}
		#conflict + label::before {background-image:url("../assets/primary-conflict.png");}
	}

	&#resources {grid-template-columns:repeat(12, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 12;}
	}

	&#attractions, &#ships {
		.group label {border:none; padding:0;
			figure {
				img {margin:0 0 -3px 0;}
				figcaption {bottom:.1rem; left:.1rem; text-shadow:0 .05em .05em rgba(0,0,0,0.5); text-transform:uppercase; font-size:3rem;}
			}
		}
	}
}

@media screen and (max-width:950px) {
	section#resources {grid-template-columns:repeat(10, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 10;}
	}
}

@media screen and (max-width:800px) {
	section {grid-template-columns:repeat(4, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 4;}
		label {grid-column:span 1;}
		input, select {grid-column:span 3;}
	}
	section#resources {grid-template-columns:repeat(8, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 8;}
	}
}

@media screen and (max-width:700px) {
	h1 {font-size:2em;}
	h2 {font-size:1.6em;}
	h2#generated-tag, h3 {font-size:1.3em;}
	h2#generated-tag.sticky {width:calc(100vw - 1em)}
	header, section {width:calc(100% - 4em); margin:1em 1em; padding:1em;}
	header { grid-template-columns:1fr; text-align:center;
		img {margin:0 auto; grid-row:span 1; width:40%;}
		h1, p {margin:.1em 0;}
	}
}

@media screen and (max-width:625px) {
	section#resources .group label p {font-size:.8em;}
	section#attractions, section#ships {grid-template-columns:repeat(4, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 4;}
	}
}

@media screen and (max-width:575px) {
	section#attractions, section#ships {
		.group label figure figcaption {font-size:2rem;}
	}
}

@media screen and (max-width:550px) {
	section#primary {grid-template-columns:repeat(2, 1fr);
		h1, h2, h3, h4, hr, label, input, select, .group {grid-column:span 2;}
		label {text-align:left;}
		input[type=text] {margin-left:1em;}
	}
	section#resources {grid-template-columns:repeat(6, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 6;}
	}
}

@media screen and (max-width:425px) {
	section#resources .group label p {font-size:1em;}
	section#resources {grid-template-columns:repeat(4, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 4;}
	}
	section#attractions, section#ships {grid-template-columns:repeat(2, 1fr);
		h1, h2, h3, h4, hr {grid-column:span 2;}
	}
}
