doctype html
html
  head
    title Galactic Hub Project | System Tag Generator
    //- 
      link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet")
      script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" type="text/javascript")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript")
      script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" type="text/javascript")
    link(href="styles/style.css" rel="stylesheet")
    script(src="scripts/app.js" type="text/javascript")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body
    header
      img(src="https://nomanssky.gamepedia.com/media/nomanssky.gamepedia.com/7/75/Galactic_Hub_Emblem.png?version=98ce4d8b0a1a3cd636e53d0510871fc6")
      h1 System Tag Generator
      p Easily generate Galactic Hub compatible system tags.
    section#tag-container
      h2#generated-tag
    form
      section#primary 
        h2 Primary Information
        hr
        label(for=region) Region
        select#region
          option(value=1 selected) HUB1: Shungka Void
          option(value=2) HUB2: Waolab Anomaly
          option(value=3) HUB3: Iajukul Cluster
          option(value=4) HUB4: Dizele Void
          option(value=5) HUB5: Ninasoness Mass
          option(value=6) HUB6: Eyrint Fringe
          option(value=7) HUB7: Dadurgh
          option(value=8) HUB8: Marmor Spur
          option(value=9) HUB9: Oaksten Terminus
          option(value=10) HUB10: Aybess Terminus
          option(value=11) HUB11: Dujerad Adjunct
        label(for="index") Solar Index 
        input#index(type="text" name="index" placeholder="012A")
        label(for="name") Name
        input#name(type="text" name="name" placeholder="Un-named System")
        div.group
          input.primary(type="checkbox" id="wealthy" autocomplete="off" value="$")
          label(for="wealthy") Wealthy
        div.group
          input.primary(type="checkbox" id="conflict" autocomplete="off" value="!")
          label(for="conflict") High Conflict
        div.group
          input.primary(type="checkbox" id="exotic" autocomplete="off" value="X")
          label(for="exotic") Exotic Planets
      section#resources
        h2 Notable Resources
        hr
        div.group.rare
          input(type="checkbox" autocomplete="off" id="Aq" value="Aq") 
          label.exotic(for="Aq") 
            p Aquasphere
            figure
              img(src="assets/resource-aquasphere.png" alt="Aquasphere")
              figcaption Aq
        div.group.rare
          input(type="checkbox" autocomplete="off" id="AP" value="AP") 
          label.exotic(for="AP") 
            p Albumen Pearl
            figure
              img(src="assets/resource-albumenpearl.png" alt="Albumen Pearl")
              figcaption AP
        div.group.rare
          input(type="checkbox" autocomplete="off" id="VC" value="VC") 
          label(for="VC") 
            p Vortex Cube
            figure
              img(src="assets/resource-vortexcube.png" alt="Vortex Cube")
              figcaption VC
        div.group.rare
          input(type="checkbox" autocomplete="off" id="GB" value="GB")
          label(for="GB")
            p Gravitino Ball
            figure
              img(src="assets/resource-gravitinoball.png" alt="Gravitino Ball")
              figcaption GB 
        div.group.exotic
          input(type="checkbox" autocomplete="off" id="Ra" value="Ra")
          label(for="Ra")
            p Radnox
            figure
              img(src="assets/resource-radnox.png" alt="Radnox")
              figcaption Ra
        div.group.exotic
          input(type="checkbox" autocomplete="off" id="Mu" value="Mu") 
          label(for="Mu")
            p Murrine
            figure
              img(src="assets/resource-murrine.png" alt="Murrine")
              figcaption Mu 
        div.group.exotic
          input(type="checkbox" autocomplete="off" id="Om" value="Om") 
          label(for="Om")
            p Omegon 
            figure
              img(src="assets/resource-omegon.png" alt="Omegon")
              figcaption Om
        div.group.exotic
          input(type="checkbox" autocomplete="off" id="Ca" value="Ca") 
          label(for="Ca")
            p Calium
            figure
              img(src="assets/resource-calium.png" alt="Calium")
              figcaption Ca
      section#attractions
        h2 Attractions
        hr
        div.group
          input(type="checkbox" autocomplete="off" id="Diplos" value="Diplos") 
          label(for="Diplos")
            figure
              img(src="assets/attraction-diplo.jpg" alt="Diplos")
              figcaption Diplos
        div.group
          input(type="checkbox" autocomplete="off" id="Jacks" value="Jacks") 
          label(for="Jacks")
            figure
              img(src="assets/attraction-jacks.jpg" alt="Jack Planet")
              figcaption Jacks
        div.group
          input(type="checkbox" autocomplete="off" id="Hexagons" value="Hexagons") 
          label(for="Hexagons")
            figure
              img(src="assets/attraction-hex.jpg" alt="Hexagon Planet")
              figcaption Hexagons
        div.group
          input(type="checkbox" autocomplete="off" id="Shards" value="Shards") 
          label(for="Shards")
            figure
              img(src="assets/attraction-shards.jpg" alt="Shard Planet")
              figcaption Shards
        div.group
          input(type="checkbox" autocomplete="off" id="Loops" value="Loops") 
          label(for="Loops")
            figure
              img(src="assets/attraction-loops.jpg" alt="Loop Structures")
              figcaption Loops
        div.group
          input(type="checkbox" autocomplete="off" id="Bubbles" value="Bubbles") 
          label(for="Bubbles")
            figure
              img(src="assets/attraction-bubbles.jpg" alt="Bubble Planet")
              figcaption Bubbles
      section#ships
        h2 Notable Ships
        hr
        div.group
          input(type="checkbox" autocomplete="off" id="fighter-ships" value="F.Ships") 
          label(for="fighter-ships")
            figure
              img(src="assets/ship-fighter.jpg" alt="Figher Ship")
              figcaption Fighters
        div.group
          input(type="checkbox" autocomplete="off" id="hauler-ships" value="H.Ships") 
          label(for="hauler-ships")
            figure
              img(src="assets/ship-hauler.jpg" alt="Hauler Ship")
              figcaption Haulers
        div.group
          input(type="checkbox" autocomplete="off" id="explorer-ships" value="E.Ships") 
          label(for="explorer-ships")
            figure
              img(src="assets/ship-explorer.jpg" alt="Explorer Ship")
              figcaption Explorers
        div.group
          input(type="checkbox" autocomplete="off" id="exotic-ships" value="X.Ships") 
          label(for="exotic-ships")
            figure
              img(src="assets/ship-exotic.jpg" alt="Exotic Ship")
              figcaption Exotics
        div.group
          input(type="checkbox" autocomplete="off" id="great-ships" value="G.Ships") 
          label(for="great-ships")
            figure
              img(src="assets/ship-great.jpg" alt="Great Ship")
              figcaption Great
