doctype html
html(manifest="ghpsn.manifest")
  head
    block head
      link(href="styles/style.css" rel="stylesheet")
      script(src="scripts/app.js" type="text/javascript")
      meta(name="viewport", content="width=device-width, initial-scale=1")
  block content

