@font-face {
  font-family: 'Geo-NMS';
  src: url("../assets/geonms-font.eot");
  src: url("../assets/geonms-font.eot?#iefix") format("embedded-opentype"), url("../assets/geonms-font.svg#my-font-family") format("svg"), url("../assets/geonms-font.woff") format("woff"), url("../assets/geonms-font.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 16px; }

body {
  font-size: 1em;
  color: white;
  font-family: Roboto, sans-serif;
  max-width: 60em;
  margin: 0 auto;
  background-attachment: fixed;
  background-color: #222222;
  background-size: cover, 100%;
  background-position: center center, center center;
  background-repeat: no-repeat, no-repeat; }

h1, h2, h3, h4 {
  font-family: Geo-NMS;
  text-transform: uppercase;
  letter-spacing: .2em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 0.9em; }

input {
  border: 0 none;
  background: transparent;
  outline: 0 none;
  font-size: 1rem; }

input[type=checkbox] {
  visibility: hidden;
  position: absolute; }

select {
  background: none;
  border: 0 none;
  border-bottom: 2px solid white;
  color: white;
  font-size: 1rem; }
  select:focus {
    outline: none; }
  select option {
    color: black; }

header, section {
  width: calc(100% - 6em);
  margin: 1em 2em;
  padding: 1em; }

header {
  display: grid;
  grid-template-columns: 10em 1fr;
  grid-auto-rows: auto; }
  header img {
    width: 10em;
    grid-row: span 2; }
  header h1 {
    align-self: flex-end;
    margin-left: 3rem; }
  header p {
    align-self: flex-start;
    margin-left: 3rem; }

h2#generated-tag {
  text-transform: none;
  background: transparent; }
  h2#generated-tag.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background: #444444;
    width: calc(100vw - 2em);
    padding: 1em;
    margin: 0;
    transition: background 0.2s ease-in;
    z-index: 1000; }

section {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: auto;
  grid-gap: .5em;
  background: rgba(16, 16, 16, 0.3);
  background: linear-gradient(180deg, rgba(16, 16, 16, 0.95), rgba(16, 16, 16, 0.8)); }
  section h1, section h2, section h3, section h4 {
    grid-column: span 6; }
  section hr {
    height: 2px;
    width: 100%;
    grid-column: span 6;
    border: 0 none;
    background: linear-gradient(90deg, white 0%, transparent 100%); }
  section input[type=text] {
    font-size: 1rem;
    border-bottom: 2px solid white;
    padding: .5em;
    color: white;
    margin-right: 1em;
    align-self: flex-start; }
  section input[type=text]::placeholder {
    color: rgba(255, 255, 255, 0.3); }
  section label {
    text-align: right;
    align-self: flex-end;
    padding: .5em; }
  section .group {
    position: relative;
    grid-column: span 2; }
    section .group label {
      display: block;
      padding: .5em;
      text-align: center;
      border: .5em solid white;
      opacity: .7;
      transition: all .3s ease;
      box-shadow: 0 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3); }
      section .group label p {
        display: block;
        background: white;
        color: #222;
        width: calc(100% + .41rem);
        padding: .3rem;
        margin: -.8rem -.5rem;
        font-size: 0.9rem; }
      section .group label figure {
        position: relative; }
        section .group label figure img {
          width: 100%;
          margin: 1em 0 0 0; }
        section .group label figure figcaption {
          position: absolute;
          bottom: .1rem;
          left: .1rem;
          font-family: Geo-NMS;
          font-size: 2em;
          font-weight: bold; }
    section .group label:hover {
      opacity: 0.8;
      box-shadow: 0 0.2em 0.1em 0.1em rgba(0, 0, 0, 0.3); }
    section .group input:checked + label {
      opacity: 1;
      font-weight: normal;
      box-shadow: 0 0.3em 0.1em 0.1em rgba(0, 0, 0, 0.3); }
    section .group.rare label {
      background-color: #007751; }
    section .group.exotic label {
      background-color: #71197f; }
  section#primary .group label {
    border: 0 none;
    border-radius: 2em;
    background-color: #71197f;
    font-size: 1.3em;
    text-align: left;
    padding-left: 2.7em;
    margin: 0 auto; }
  section#primary input[type=checkbox] + label::before {
    content: "";
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: -1rem;
    top: -1.7rem;
    visibility: visible;
    opacity: 0.7;
    z-index: 1;
    background-size: contain; }
  section#primary input[type=checkbox]:checked + label::before {
    opacity: 1.0; }
  section#primary .group:hover input[type=checkbox] + label::before {
    opacity: 1.0; }
  section#primary #wealthy + label::before {
    background-image: url("../assets/primary-econ.png"); }
  section#primary #exotic + label::before {
    background-image: url("../assets/primary-exotic.png"); }
  section#primary #conflict + label::before {
    background-image: url("../assets/primary-conflict.png"); }
  section#resources {
    grid-template-columns: repeat(12, 1fr); }
    section#resources h1, section#resources h2, section#resources h3, section#resources h4, section#resources hr {
      grid-column: span 12; }
  section#attractions .group label, section#ships .group label {
    border: none;
    padding: 0; }
    section#attractions .group label figure img, section#ships .group label figure img {
      margin: 0 0 -3px 0; }
    section#attractions .group label figure figcaption, section#ships .group label figure figcaption {
      bottom: .1rem;
      left: .1rem;
      text-shadow: 0 0.05em 0.05em rgba(0, 0, 0, 0.5);
      text-transform: uppercase;
      font-size: 3rem; }

@media screen and (max-width: 950px) {
  section#resources {
    grid-template-columns: repeat(10, 1fr); }
    section#resources h1, section#resources h2, section#resources h3, section#resources h4, section#resources hr {
      grid-column: span 10; } }

@media screen and (max-width: 800px) {
  section {
    grid-template-columns: repeat(4, 1fr); }
    section h1, section h2, section h3, section h4, section hr {
      grid-column: span 4; }
    section label {
      grid-column: span 1; }
    section input, section select {
      grid-column: span 3; }
  section#resources {
    grid-template-columns: repeat(8, 1fr); }
    section#resources h1, section#resources h2, section#resources h3, section#resources h4, section#resources hr {
      grid-column: span 8; } }

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.6em; }
  h2#generated-tag, h3 {
    font-size: 1.3em; }
  h2#generated-tag.sticky {
    width: calc(100vw - 1em); }
  header, section {
    width: calc(100% - 4em);
    margin: 1em 1em;
    padding: 1em; }
  header {
    grid-template-columns: 1fr;
    text-align: center; }
    header img {
      margin: 0 auto;
      grid-row: span 1;
      width: 40%; }
    header h1, header p {
      margin: .1em 0; } }

@media screen and (max-width: 625px) {
  section#resources .group label p {
    font-size: .8em; }
  section#attractions, section#ships {
    grid-template-columns: repeat(4, 1fr); }
    section#attractions h1, section#attractions h2, section#attractions h3, section#attractions h4, section#attractions hr, section#ships h1, section#ships h2, section#ships h3, section#ships h4, section#ships hr {
      grid-column: span 4; } }

@media screen and (max-width: 575px) {
  section#attractions .group label figure figcaption, section#ships .group label figure figcaption {
    font-size: 2rem; } }

@media screen and (max-width: 550px) {
  section#primary {
    grid-template-columns: repeat(2, 1fr); }
    section#primary h1, section#primary h2, section#primary h3, section#primary h4, section#primary hr, section#primary label, section#primary input, section#primary select, section#primary .group {
      grid-column: span 2; }
    section#primary label {
      text-align: left; }
    section#primary input[type=text] {
      margin-left: 1em; }
  section#resources {
    grid-template-columns: repeat(6, 1fr); }
    section#resources h1, section#resources h2, section#resources h3, section#resources h4, section#resources hr {
      grid-column: span 6; } }

@media screen and (max-width: 425px) {
  section#resources .group label p {
    font-size: 1em; }
  section#resources {
    grid-template-columns: repeat(4, 1fr); }
    section#resources h1, section#resources h2, section#resources h3, section#resources h4, section#resources hr {
      grid-column: span 4; }
  section#attractions, section#ships {
    grid-template-columns: repeat(2, 1fr); }
    section#attractions h1, section#attractions h2, section#attractions h3, section#attractions h4, section#attractions hr, section#ships h1, section#ships h2, section#ships h3, section#ships h4, section#ships hr {
      grid-column: span 2; } }
